<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/nandini/IdeaProjects/restAssured">
        <classes>
            <class name="com.herokuapp.restfulbooker.CreateBookingTest">
                <methods>
                    <include name="createBookingTest"/>
                </methods>
            </class>
            <class name="com.herokuapp.restfulbooker.GetBookingIdsTest">
                <methods>
                    <include name="getBookingIdsWithoutFilterTest"/>
                </methods>
            </class>
            <class name="com.herokuapp.restfulbooker.GetBookingTest">
                <methods>
                    <include name="getBookingTest"/>
                </methods>
            </class>
            <class name="com.herokuapp.restfulbooker.HealthCheckTest">
                <methods>
                    <include name="healthCheckTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>